.footer {
  display: flex;
  justify-content: flex-end;
}

.footerColumnLeft {
  margin-right: auto;
}

.footerColumnList {
  margin-left: 80px;
  display: inline-block;
}

.copyright {
  margin-top: 20px;
  color: #aca7b0;
}

.title {
  font-weight: bold;
}

.list {
  margin: 0;
  padding: 0;
}

.listContent {
  list-style: none;
  text-align: center;
  width: auto;
  margin: 0 0 5px 0;
  text-align: left;
  color: #aca7b0;
}

.listContent a {
  color: #aca7b0;
}

.backgroundImg {
  bottom: -40px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -100;
  opacity: 0.1;
}
