html {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #222;
}

p,
a {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  text-decoration: none;
}

.fade {
  animation-name: fade-from-above;
  animation-duration: 2s;
}
@keyframes fade-from-above {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
