html {
  background-color: lavenderblush;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 62px;
  text-align: center;

  color: #000000;
}

p,
a {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-decoration: none;
  color: #000000;
}
