.header {
  height: 67px;
  background: rgba(255, 255, 255);
}

.logo {
  display: inline-block;
  width: auto;
  height: 37px;
  position: absolute;
  top: 18px;
}

.lists {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.list {
  float: left;
  list-style: none;
  text-align: center;
  width: 110px;
  margin-top: 24px;
  margin-bottom: 0px;
}
