.header {
  height: 67px;
  background: rgba(255, 255, 255);
}

.logo {
  display: inline-block;
  width: auto;
  height: 37px;
  position: absolute;
  top: 18px;
}

.lists {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  text-align: center;
  width: 70px;
  margin: 24px 20px 0 20px;
}

.list :hover {
  transition: 0.5s;
  color: #75ccff;
}

.link {
  color: #aca7b0;
  padding-bottom: 5px;
  display: block;
  position: relative;
  text-decoration: none;
}

.list::after {
  display: block;
  background-color: #75ccff;
  position: relative;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.list:hover::after {
  transform: scale(1, 1);
}

#mobile_nav {
  display: none;
}

.mobile_nav {
  display: none;
}

.social_media {
  display: flex;
  margin: 24px 40px 0 0;
  position: absolute;
  height: 55px;
  top: 0;
  bottom: 0;
  right: 0;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .lists {
    display: none;
  }
  .mobile_nav {
    display: block;
    z-index: 10000;
  }
  .nav_icon,
  .nav_icon:before,
  .nav_icon:after {
    position: fixed;
    z-index: 100000;
    height: 2px;
    width: 25px;
    border-radius: 1px;
    background: #555;
    display: block;
    content: "";
  }
  .nav_icon {
    top: 25px;
    right: 20px;
  }
  .nav_icon:before {
    top: 33px;
    right: 20px;
  }
  .nav_icon:after {
    top: 41px;
    right: 20px;
  }

  .nomargin {
    margin: 0;
  }
  .input {
    display: none !important;
  }
  .hidden_show {
    overflow: hidden;
    display: none;
    z-index: 99;
    top: 0;
    right: 0;
    height: 100vh;
  }
  .mobile_nav input:checked ~ .hidden_show {
    width: 100vw;
    display: block;
    position: fixed;
    background-color: #ffffff;
  }
  .mobile_logo {
    position: relative;
    top: 18px;
    display: block;
    width: auto;
    height: 37px;
  }
  .mobile_lists {
    display: block;
    margin: 100px 20px 20px 20px;
    padding: 0;
  }
  .mobile_list {
    display: block;
    list-style: none;
    font-size: 20px;
    padding: 10px 0;
  }
  .mobile_contact {
    display: block;
    margin: 50px 20px 20px 20px;
    padding: 0;
  }
  .mobile_contact li {
    display: block;
    list-style: none;
    font-size: 1.6rem;
    padding: 8px 0;
  }
  .social_media {
    display: none;
  }
}
