.indexContainer {
  width: 100vw;
  height: calc(100vh - 67px);
  position: relative;
}

.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 67px));
  margin: auto;
  width: 100%;
  font-size: 3rem;
  line-height: 2.5em;
  letter-spacing: 0.05em;
}

.name {
  font-size: 3.5rem;
  color: #75ccff;
}

.mountain {
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -100;
}
