.indexContainer {
  width: 100vw;
  height: calc(100vh - 67px);
  position: relative;
}

.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 67px));
  margin: auto;
  width: 100%;
  font-size: 3rem;
  line-height: 2.5em;
  letter-spacing: 0.05em;
}

.name {
  position: relative;
  font-size: 3.5rem;
}

.name::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0px;
  height: 40%;
  background: #75ccff;
  opacity: 60%;
  animation-delay: 1.5s;
  animation-name: leftToRight;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes leftToRight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.mountain {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .greeting {
    font-size: 2rem;
    line-height: 2.5em;
    letter-spacing: 0.04em;
  }
  .name {
    font-size: 2.3rem;
  }
}
