.post {
  width: 40%;
  min-width: 250px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  transition: 1s;
}

.post:hover {
  opacity: 0.5;
}

.img {
  width: 100%;
}

.title {
  color: #aca7b0;
  font-weight: bold;
  text-align: left;
}

.summary {
  color: #aca7b0;
  text-align: left;
}

.date {
  color: #aca7b0;
  text-align: left;
}
