.img {
  width: 100%;
  height: auto;
  margin: 15px 0 0 0;
}

.mobile_img {
  display: none;
}

.passages p {
  margin: 15px 0;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .img {
    width: 100%;
    height: auto;
    padding: 0 12.5%;
    margin-bottom: 40px;
  }
  .img img {
    object-fit: contain !important;
  }
  .mobile_img {
    display: block;
  }
  .desktop_img {
    display: none;
  }
}
